# Terraform Core files and directories
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfplan
# .terraformrc # Uncomment if you have a local CLI config file
# terraform.rc # Uncomment if you have a local CLI config file

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
# *.tfvars.json # Uncomment if you use JSON for tfvars

# Personal override files - if you use these for local testing and not for team collaboration
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

# Operating System specific files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/ # Only if not sharing IDE settings
.idea/   # Only if not sharing IDE settings
*.swp
*~

# Terraform Cloud/Enterprise specific files (if local execution is configured)
# .terraform.d/
