[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
google-cloud-storage = "*"
google-generativeai = "*"
langchain = "*"
langgraph = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
